.about {
  padding: 60px 30px;
  margin: 40px 0;
  h2{
    padding-left:40px ;
  }
  .about-header {
    text-align: center;
    margin: 30px;
    
    h3 {
      color: rgb(149,88,178);
      
      font-size: 60px;
    }
  
  }
  p {
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }
}
